################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WebAPIPuzzle/.vs/WebAPIPuzzle/FileContentIndex
