<button mat-raised-button color="primary" type="submit" routerLink="/admin-menu">Назад</button>
  <input type="file" class="file-input" (change)="onFileSelected($event)">
  <div class="file-upload">
    {{fileName || "No file uploaded yet."}}
     <button mat-mini-fab color="primary" class="upload-btn"
       (click)="sendFile()">
     </button>
  </div>
  <mat-table [dataSource]="imgs"  class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="IdArt">
      <mat-header-cell  *matHeaderCellDef>IdArt</mat-header-cell>
      <mat-cell  *matCellDef="let element">{{element.IdArt}}</mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="base64">
      <mat-header-cell *matHeaderCellDef>Figure</mat-header-cell>
      <mat-cell *matCellDef="let element"><img class="pic" src="{{'data:image/jpg;base64,' + element.base64}}" /></mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="Do">
      <mat-header-cell *matHeaderCellDef>Do</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <button
          mat-raised-button
          class="warning"
          (click)="deleteArt(element)">
          Remove data
        </button>
      </mat-cell>
    </ng-container>

  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
