<div class="about">
    <button mat-mini-fab color="primary" class="btn-about">?</button>
    <button mat-mini-fab color="primary" class="btn-info">i</button>
</div>

<div class="mainBlock">
    <h1>Войти</h1>
    <div class="input-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Логин</mat-label>
            <input matInput type="login">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Пароль</mat-label>
            <input matInput type="password">
        </mat-form-field>
    </div>
    <div class="button-form">
        <button mat-raised-button color="primary">Войти</button>
        <br>
        <button mat-button color="primary" routerLink="/singup">Зарегистрироваться</button>
    </div>
</div>
