<button mat-raised-button color="primary" type="submit" routerLink="/admin-menu">Назад</button>
  <table mat-table [dataSource]="puzzles" class="demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="IdPuzzle">
      <th mat-header-cell *matHeaderCellDef>IdPuzzle</th>
      <td mat-cell *matCellDef="let element">{{element.IdPuzzle}}</td>
      
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="NamePuzzle">
      <th mat-header-cell *matHeaderCellDef>NamePuzzle</th>
      <td mat-cell *matCellDef="let element">{{element.NamePuzzle}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="IdLevel">
      <th mat-header-cell *matHeaderCellDef>IdLevel</th>
      <td mat-cell *matCellDef="let element">{{element.IdLevel}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="IdArt">
      <th mat-header-cell *matHeaderCellDef>IdArt</th>
      <td mat-cell *matCellDef="let element">{{element.IdArt}}</td>
    </ng-container>

    <ng-container matColumnDef="Do">
      <th mat-header-cell *matHeaderCellDef>Do</th>
      <td mat-cell *matCellDef="let element">
        <button
        mat-raised-button
        class="warning"
        (click)="deletePuzzle(element)">
        Remove data
      </button>
    </td>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
