<div class="main-menu">
    <div class="about">
        <button mat-mini-fab color="primary" class="btn-about">?</button>
        <button mat-mini-fab color="primary" class="btn-info">i</button>
    </div>
    <div class="mainBlock">
        <h1>Добро пожаловать, !</h1>
        <div class="button-form">
            <button mat-raised-button color="primary" type="submit" (click)="onNewGame()">Новая игра</button>
            <p></p>
            <button mat-raised-button color="primary" type="submit" (click)="onLoadGame()">Загрузить игру</button>
            <p></p>
            <button mat-raised-button color="primary" type="submit" (click)="onExit()">Выйти</button>
        </div>
    </div>
</div>
