.mainBlock{
    position:absolute;
    top: 40%;
    left: 40%;
    background-color: white;
}
.mainBlock h1{
    text-align: center;
}
.mainBlock .input-form{
    margin: 15px 40px;
    text-align: center;
}

.mainBlock .button-form{
    margin: 15px 40px;
    text-align: center;
}
.about{
    margin: 15px 40px;
    left: 10px;;
    right: 20px;
}

.about .btn-info{
    position: absolute;
    right: 0;
}

mat-radio-button{
    margin: 5px;
}
