<p>difficulty works!</p>
<div class="mainBlock">
    <h2>Настройка сложности</h2>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button value="2">2</mat-radio-button>
        <mat-radio-button value="3">3</mat-radio-button>
    </mat-radio-group>

    <section class="example-section">
        <mat-form-field class="example-margin example-width" appearance="fill">
            <mat-label>Min value</mat-label>
            <input matInput type="number" >
        </mat-form-field>
        <p></p>
        <mat-form-field class="example-margin example-width" appearance="fill">
            <mat-label>Max value</mat-label>
            <input matInput type="number" >
        </mat-form-field>
    </section>

    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button value="2">2</mat-radio-button>
    </mat-radio-group>

    <p></p>

    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">на поле</mat-radio-button>
        <mat-radio-button value="2">на ленте</mat-radio-button>
    </mat-radio-group>
</div>
